<%= @element.content %>

<h4>Suggestion:</h4>
<%= @element.content.to_words if @element.content == /\d{1}[^\b]/ %>

<% @words_array.each do |wa| %> 
  <%= link_to "#{wa}", "/elements/#{@element.id}?word_to_replace=#{wa}", method: :patch %>
<% end %>
<h4>Example: (Not 100%)</h4>
<%= @element.type? %>